body {
  background-color: black;
}
.hero {
  margin: auto;
  text-align: center;
  padding: 150px 15px;
}

.hero p {
  font-family: "Poppins", serif;
  color: white;
}
.hero h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 24px;
  color: white;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  color: white;
}
p {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

.btn-contact {
  background: white;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px;
  border-radius: 5px;
}
.btn-project-details {
  background: white;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px;
  border-radius: 5px;
  margin: auto 0;
}
.project-image {
  max-width: 80%;
  border-radius: 4px;
}
.project-description {
  text-align: center;
}

.featured-projects {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .btn-project-details {
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 45px;
  }
}
