body {
  background-color: black;
}
nav {
  padding: 40px 0;
  display: flex;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: red;
}
nav li.active a {
  color: gray;
}
.hero {
  margin: auto;
  text-align: center;
  padding: 150px 15px;
}

.hero p {
  font-family: "Poppins", serif;
  color: white;
}
.hero h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 24px;
  color: white;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  color: white;
}
.content {
  text-align: center;
  padding: 0;
}
.content h1 {
  font-family: "Playfair display", serif;
  font-size: 64px;
  line-height: 2;
  color: white;
}
.content h2 {
  font-family: "Poppins", serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.content-container {
  padding: 120px 20px;
}
.content a {
  color: white;
}
.about-image {
  max-height: 80%;
  border-radius: 4px;
  padding: 80px 20px;
}
p {
  text-align: center;
  color: white;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  text-align: center;
  color: white;
}
h2 {
  font-family: "Poppins", serif;
  font-size: 24px;
  text-align: center;
  color: white;
}

.btn-contact {
  background: white;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px;
  border-radius: 5px;
}
.btn-project-details {
  background: white;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px;
  border-radius: 5px;
  margin: auto 0;
}
.project-image {
  max-width: 80%;
  border-radius: 4px;
}
.project-description {
  text-align: center;
}

.featured-projects {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .btn-project-details {
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 45px;
  }
  .hero {
    padding: 75px 15px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .featured-projects {
    font-size: 28px;
  }
  .btn-contact {
    background: white;
    color: black;
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
  }
}
